#block-views-actualites-acceuil-block > h2{
	display: none;
}
.fil-actu a,
.fil-actu a:link{
	text-decoration: none;
	color: #939598;
	margin: 0 10px;
}
.fil-actu a:hover{
	text-decoration: underline;
}
.fil-actu span.titre{
	color: #003366;
}
.view-recrutement.view-id-recrutement > .view-content > .block-6.clearfix{
	height: auto;
	overflow: hidden;
}
.view-vie-dans-lentreprise .w2.block-4{
	width: 510px;
}