html body.admin-menu {
	margin-top: 50px !important;
}
.main{
	padding-top: 30px;
}
.menu-principale nav > ul > li > ul{
	padding-top: 5px;
}
.menu-principale > nav > ul > li > ul > li{
	height: 18px;
	line-height: 18px;
}
.menu-principale > nav > ul > li > ul > li > a{
	padding: 0 5px;
}
.main .dernieres-offres{
	top:68px;
}
.home-slider .item-slid .wrap-content{
	position: absolute;
	top: 10px;
	left: 85px;
	width: 440px;
}
.home-slider .item-slid.orientation-right .wrap-content{
	left: initial;
	right: 45px;
}
.home-slider .item-slid .wrap-content .slid-title{
	padding-top: 25px;
	padding-bottom: 13px;
	line-height: 32px;
	Text-Indent: -10px;
	Padding-Left: 10px;
}
.home-slider .item-slid .wrap-content .slid-title,
.home-slider .item-slid .wrap-content .slid-title a:link,
.home-slider .item-slid .wrap-content .slid-title a:hover,
.home-slider .item-slid .wrap-content .slid-title a:active{
	font-family: 'androgyneregular';
	font-size: 26px;
	font-weight: bold;
	color: #003366;
	text-decoration: none;
}
.home-slider .item-slid .wrap-content .slid-description{
	padding-left: 56px;
	line-height: 18px;
	font-size: 13px;
	width: 280px;
}